@import url('https://stockfont.org/?57bd245646ab75647830094ddc2955ef502eb04f395b734d47fa42df66804c88');

* {margin: 0; padding: 0;}
body {background-color: #DEDEDE; font-family: 'Oxygen-Regular';
	display: grid;
  grid-template-columns: 10% 70% 20%;
    grid-template-rows: auto;
	grid-template-areas: "header header header"
	"img img aside"
	". main aside"
	"footer footer footer";
}

h1 { font-family: 'Audiowide', cursive; margin: 0.4em;}
aside h1 a {color: white;}
header h1:before {content: "\1F5B3"; font-family: 'hack'; padding-right: 0.4em;}
header h1 {color: #92B2BF; text-shadow: 2px 2px 2px darkgreen;}

body > section {grid-area: img; height: 20vh; background-position: center center;
	background-image: url(images/randombanner.php);
	max-height: 300px;
	background-position: center center;}
header a { color: white; text-decoration: none; }

header address {float: right; color: white; font-style: normal; padding: 1em;}
main {min-height: 20vh; grid-area: main; padding: 5vw; background-color: #E8E8E8;}

header {background-color: #1C2524; grid-area: header;}

main h1, main a {color: #92B2BF;}

aside{background-color: #2A3F52; min-height: 20px; grid-area: aside; padding: 1vw; color: white;}
aside ul {list-style-type: none; margin-bottom: 1em;}
aside li {padding-left: 20px;}
aside > ul > li {font-size: 2em;}
aside > ul > li > ul {font-size: 0.5em;}
aside a {color: black; text-decoration: none}
footer {color: white; padding: 1em; background-color: black; font-size: 0.7em; grid-area: footer;margin-top: 10%}

header { display: grid;  grid-template-columns: 10% 80% 10%;}
/*colummn added for template,margin left*/
header ul {margin-left:5em;align-self: center; display: grid; grid-template-columns: auto auto auto auto; grid-template-rows: auto; color: white; list-style-type: none;}
header > ul > li {font-size: 2em; cursor: pointer; text-align: center;}
header ul li ul { margin-left: 10vw; text-align: left; display: none; position: absolute; background-color: #333; padding: 20px;}
header ul li ul li {padding: 1vw;}
header ul li:hover ul {display: block;}
/*hover css added*/
header ul li ul li:hover{background: #555555;}
h1 {font-weight: bold; margin-bottom: 1em;}

p {margin-top: 0.5em; margin-bottom: 0.5em;}


h2 {margin-top: 0.5em;  margin-bottom: 0.5em;}
/*css changed*/
form label{
	margin-top: 1em;box-sizing: border-box;display: block; width: 30%;padding: left; float: left;
	}
 form input, form textarea {margin-bottom: 1em; box-sizing: border-box;  display: block; width: 50%; padding: 2%; float: left;flex-direction: column;border-radius: 1%;}
form textarea {height: 400px;}
form h3{text-align: center;}
form input[type="submit"] 
form {overflow: auto;}

.products, .reviews {list-style-type: none;}
.products li, .reviews li {padding: 2em;}
.products li:nth-child(odd), .reviews li:nth-child(odd) {background-color: #fff;}
.products li:nth-child(even), .products li:nth-child(even) {background-color: #ddd;}

.price { text-align: right; color: darkgreen; font-family: 'Audiowide'; font-weight: bold; font-size: 2em;}

.reviews .details {text-align: right;}

h4 {margin-top: 1em; margin-bottom: 1em;}
/*for admin panel*/
.welcome{text-align: center;}
.adminPage{
	grid-template-columns: 20% 60% 20%;
	grid-template-areas: "header header header"
	"nav main main"
	"footer footer footer"
}
.container{height: 80vh;}
nav{
	grid-area: nav;
}
nav>ul{
	list-style: none;
}
nav ul li{margin-bottom: 4%;}
a{text-decoration: none;color: black;}

